{% extends "mailing/base.html" %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Профиль пользователя</h2>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Телефон:</strong> {{ user.phone_number }}</p>
            <p><strong>Страна:</strong> {{ user.country }}</p>
            <p><strong>Аватар:</strong></p>
            {% if user.avatar %}
            <img src="{{ user.avatar.url }}" alt="Аватар" class="img-thumbnail">
            {% else %}
            <p>Аватар не загружен</p>
            {% endif %}
            <a href="{% url 'users:profile_edit' %}" class="btn btn-primary">Редактировать профиль</a>
        </div>
    </div>
</div>
{% endblock %}